body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.bord {
    display: flex;
    width: fit-content;
    height: 600px;
    flex-direction: column;
    flex: none;
    justify-content: center;
    align-items: center;
    border-style: solid;
    box-sizing: content-box;
}

.hover{
    background-color: black;
}

button{
    font-size: 25px;
    margin: 20px;
}