body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bord {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0,0,100%;
    border-style: solid;
}

.grid{
    border-style: dotted;
    border-width: 1px;
}

.hover{
    background-color: black;
}