body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bord {
    width: 1000px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0,0,100%;
    border-style: solid;
}

.grid{
    border-style: dotted;
    border-width: 1px;
}